@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: Roboto Slab;
    color: black;
}

body{
    background-color: #efefef;
    margin: 0rem;
}

    header{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    margin: 0rem;
    font-size: 3rem;
    font-family: Playfair Display;
    color: rgb(84, 25, 139);
}

header h3{
    font-size: 1.4rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}    

main{
    margin: 1rem;
}

main section.sec1{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
}

main section.sec1 div.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
}

main section.sec1 div.card img.foto{
    width: 40vh;
    margin: 1rem;
    border-radius: 50%;
    object-fit: cover;
    top: 1rem;
}

main section.sec1 div.card h2{
    margin: 1rem;
    font-size: 1.5rem;
    color: rgb(61, 177, 181);
}

main section.sec1 div.card p{
    margin: 0rem 2rem;
    text-indent: 1rem;
    font-size: 1.2rem;
    text-align: justify;
}

main section.sec1 div.card div{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.sec1 div.card div img.icon{
    margin: 0.4rem;
    width: 3vh;
}

main section.sec1 div.background{
    background-color: white;
    border-radius: 0.5rem;
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    inset: 5rem -0.5rem -1rem -0.5rem;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section h2{
    margin: 1rem;
    font-size: 1.7rem;
}

main section p{
    margin: 0rem 1rem;
    text-indent: 1rem;
    font-size: 1.2rem;
    text-align: justify;
}

main section button{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    color: rgb(61, 177, 181);
    border-style: solid;
    border-color: rgb(84, 25, 139);
}

main section button:hover{
    background-color: rgb(61, 177, 181);
    border-color: rgb(84, 25, 139);
    color: rgb(84, 25, 139);
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

main section ul{
    list-style: none;
    padding: 0rem;
    margin: 0rem;     
}

main section ul li{
    font-size: 1.2rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section div{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section div img.icon:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer ;
}

main section div img.icon{
    margin: 0.4rem;
    width: 3vh;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    height: 10vh;
    padding: 1rem;
}

footer h5{
    color: white;
    font-size: 0.78rem;
}


@media (min-width: 1024px){

    header h1{
        font-size: 5rem;
    }

    header h3{
        font-size: 2rem;
    }   

    main{
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;
        gap: 1rem;
    }

    main section{
        flex: 1 1 0;
        margin: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    main section div img.icon{
        width: 2.5rem;
        margin-top: 0rem;
    }


    main section.sec1{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0rem 2rem 2rem 0rem;
    }
     main section.sec1 div.card h2{
        font-size: 2rem;
        margin: 0.5rem;
     }
    
    main section.sec1 div.card p{
        font-size: 1.5rem;
        margin: 0rem 2rem;
        text-indent: 1rem;
        text-align: justify;
    }   
     
    main section.sec1 div.background{
    background-color: white;
    border-radius: 0.5rem;
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    inset: 6rem -0.5rem -0.5rem -0.5rem;
    }

    main section.sec1 div.card img.foto{
    width: 30vh;
    margin: 0rem;
    border-radius: 50%;
    object-fit: cover;
    top: 1rem;
    }

    main section.sec2{
        margin: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main section.sec2 h2{
        margin: 1rem;
        margin-bottom: 2rem;;
        font-size: 2rem;
    }

    main section.sec2 p{
        margin: 2rem 2rem;
        text-indent: 1rem;
        font-size: 1.5rem;
        text-align: justify;
    }

    main section.sec2 button{
        margin: 2rem;
        padding: 1rem;
        font-size: 2rem;
        border-radius: 3rem;
        background-color: none;
        color: rgb(61, 177, 181);
        border-style: solid;
        border-color: rgb(84, 25, 139);
    }

    main section button:hover{
    background-color: rgb(61, 177, 181);
    border-color: rgb(84, 25, 139);
    color: rgb(84, 25, 139);
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

    main section.sec3{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main section.sec3 h2{
        margin: 1rem;
        margin-bottom: 0rem;
        font-size: 2rem;
    }

    main section.sec3 ul{
        margin: 2rem;
        padding-bottom: 5rem;
    }

    main section.sec3 ul li{
        font-size: 1.5rem;
        margin: 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


    footer h5{
        font-size: 1.5rem;
    }


}